@charset "UTF-8" ;
body{
    background-color: rgb(177, 255, 174);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(4, 109, 0);
}
h1#Principal{
    text-align: center;
    background-color: green;
    color: white;

}
h2{
    color: rgb(28, 29, 28);
}

.básico{
    background-color: aliceblue;
    color: black;
}